.container {
  max-width: 100%;
  min-width: 24rem;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 90em) {
    max-width: 144rem;
  }

  .attribution {
    display: flex;

    margin: 4rem 0;
  }
}
