.productive {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  padding: 0 1rem;
  text-align: left;
  //500px
  @media screen and (min-width: 31.25em) {
    padding: 0 4rem;
  }
  //800px
  @media screen and (min-width: 50em) {
    flex-direction: row;
    align-items: center;
  }

  &__img {
    //800px
    flex: 1;

    img {
      max-width: 100%;
      padding: 2rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 2.5rem;

    @media screen and (min-width: 75em) {
      padding: 0 10rem;
    }

    &--title {
      margin-bottom: 1rem;
      max-width: 40rem;
      line-height: 1.2;
    }

    &--description {
      text-align: justify;
      padding: 1rem 0;
      font-size: 1.3rem;
      //800px
      @media screen and (min-width: 50em) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: 75em) {
        font-size: 1.5rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }

    &--btn {
      display: inline-block;
      text-decoration: none;
      color: $cta-gradient-1-color;
      border-bottom: 1px solid currentColor;
      padding: 3px;
      margin-top: 1rem;
      cursor: pointer;

      svg {
        vertical-align: middle;
      }

      &:visited {
        color: $cta-gradient-2-color;
      }

      &:hover,
      &:active,
      &:focus {
        color: $text-color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
