.sign-up {
  width: 100%;
  position: relative;
  text-align: center;

  &-card {
    width: 90%;
    padding: 4rem 3rem;
    border-radius: 10px;
    background-color: $intro-bg-color;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0 auto;
    top: 1rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    //300px
    @media screen and (min-width: 18.75em) {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    }

    //600px
    @media screen and (min-width: 37.5em) {
      width: 80%;
    }
    //800px
    @media screen and (min-width: 50em) {
      width: 85%;
      align-items: center;
    }
    @media screen and (min-width: 62.5em) {
      width: 60%;
    }

    &__title {
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.4;
      font-size: 1.4rem;

      @media screen and (min-width: 50em) {
        padding: 0 8rem;
      }
    }

    &__cta {
      width: 100%;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      text-align: left;

      //800px
      @media screen and (min-width: 50em) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: repeat(2, auto);
        padding: 0 6rem;
      }

      #email {
        padding: 1.5rem 2rem;

        border-radius: 50px;
        border: none;

        &:focus {
          outline: none;
        }

        @media screen and (min-width: 50em) {
          margin-right: 2rem;
        }
      }

      &-button {
        font-size: 1rem;
        padding: 1.5rem 1rem;
        margin-top: 0.8rem;

        //300px
        @media screen and (min-width: 18.75em) {
          font-size: 1.2rem;
          padding: 1.5rem 4rem;
          margin-top: 0.8rem;
        }

        @media screen and (min-width: 50em) {
          margin-top: 0;
        }
      }

      &-error-message {
        color: red;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        margin-left: 2rem;
        opacity: 0;
        grid-row: 2;
      }

      &-error-message.visible {
        opacity: 1;
      }
    }
  }
}
