.testimonials {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 30rem;
  background-image: url("./../images/bg-quotes.png");
  font-size: 1rem;
  background-position: 2% 1.5%;
  background-size: 25px;
  background-repeat: no-repeat;

  //320px
  @media screen and(min-width: 20em) {
    background-position: 2% 2%;
  }
  //1000px
  @media screen and(min-width: 62.5em) {
    flex-direction: row;
    background-position: 2% 0%;
    background-size: 50px;
    padding-left: 3rem;
  }

  &-card {
    display: flex;
    text-align: left;
    line-height: 1.6;
    font-size: 1rem;
    flex-direction: column;
    background-color: $testimonials-bg-color;
    width: 22rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

    padding: 2.5rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;

    //320px
    @media screen and(min-width: 20em) {
      width: 30rem;
    }

    //500px
    @media screen and(min-width: 31.25em) {
      width: 33rem;
      font-size: 1.2rem;
    }

    //500px
    @media screen and(min-width: 31.25em) {
      width: 33rem;
      font-size: 1.2rem;
    }

    //700px
    @media screen and(min-width: 43.75em) {
      width: 34rem;
    }

    //1000px
    @media screen and(min-width: 62.5em) {
      margin-right: 2rem;
      width: 30rem;
      font-size: 1rem;
    }
    @media screen and(min-width: 87.5em) {
      margin-right: 3rem;
      width: 33rem;
      font-size: 1.2rem;
    }

    &__user {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
      }

      &--data {
        display: flex;
        flex-direction: column;

        &-name {
          font-size: 1.4rem;
          font-weight: 700;

          @media screen and(min-width: 31.25em) {
            font-size: 1.5rem;
          }
          @media screen and(min-width: 62.5em) {
            font-size: 1.4rem;
          }
          @media screen and(min-width: 87.5em) {
            font-size: 1.5rem;
          }
        }

        &-role {
          font-size: 0.8rem;
          @media screen and(min-width: 31.25em) {
            font-size: 1rem;
          }

          @media screen and(min-width: 62.5em) {
            font-size: 0.8rem;
          }

          @media screen and(min-width: 87.5em) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
