*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $main-bg-color;
  color: $text-color;
  font-family: $main-font;
  display: flex;
  justify-content: center;
}

$original-author: "https://github.com/aleperf";
