//fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

h1,
h2,
h3 {
  font-family: $title-font;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-top: 1rem;
  line-height: 1.4;
  z-index: 1000;

  //300px
  @media screen and (min-width: 18.75em) {
    font-size: 2.4rem;
  }
  //550px
  @media screen and (min-width: 34.375em) {
    font-size: 2.4rem;
  }
  //700px
  @media screen and (min-width: 43.75em) {
    font-size: 2.6rem;
  }
  //900px
  @media screen and (min-width: 56.25em) {
    font-size: 2.8rem;
  }
  //1200
  @media screen and (min-width: 75em) {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;

  //300px
  @media screen and (min-width: 18.75em) {
    font-size: 1.8rem;
  }
  //550px
  @media screen and (min-width: 34.375em) {
    font-size: 2.1rem;
  }

  //900px
  @media screen and (min-width: 56.25em) {
    font-size: 2.4rem;
  }
  //1200
  @media screen and (min-width: 75em) {
    //todo
    font-size: 4rem;
  }
}
